In [3]:
numbers = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
print(type(numbers))

<class 'tuple'>

In [4]:
print(numbers.index(58))

9

In [5]:
print(numbers.count(55))

5

In [4]:
numbers = (46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55)
print(numbers[6])

49

In [6]:
numbers = [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55]
numbers.reverse()
print(numbers)

[55, 57, 47, 55, 55, 46, 50, 57, 53, 55, 50, 58, 51, 51, 49, 45, 55, 48, 45, 53, 46]

In [15]:
numbers = [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55]
print(numbers[9])

58

In [10]:
print(numbers.count(51))

2

In [12]:
numbers = [46,53,45,48,55,45,49,51,51,58,50,55,53,57,50,46,55,55,47,57,55]
numbers.insert(7,'69')
print(numbers)

[46, 53, 45, 48, 55, 45, 49, '69', 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55]

In [16]:
new_numbers = [89,85,36,95,45,78]
numbers.extend(new_numbers)
print(numbers)

[46, 53, 45, 48, 55, 45, 49, 51, 51, 58, 50, 55, 53, 57, 50, 46, 55, 55, 47, 57, 55, 89, 85, 36, 95, 45, 78]

In [ ]:
records = {
    'Arsenal':['london','Mikel arteta','Odegaard','$2.8b','Arsenal hold the record number of wins'],
    'Chelsea':['West london','Potter','Azpillicueta','$3.1b','Founded in 1905'],
    'Liverpool':['Liverpool','Klopp','Henderson','$3.6b','Foundede in 1892'],
    'Manchester united':['England','Erik ten hag','Maguire','Founded in 1878'],
    'Manchester city':['Manchester','Pep guardiola','Gundogan','Founded in 1887'],
    'Everton':['Liverpool','Rafeal','Coleman','Founded in 1878'],
    'Leeds':['West Yorkshire','Bielsa','Cooper','Founded in 2006'],
    'Burnley':['Burnley uk','Sean Dyche','Ben mee','Founded May 18 1882'],
    'Watford':['Hertfordshire','Claudio Renieri','Paul Troost-Ekong','Founded in 1881'],
    'Westham':['London','David Moyes','Angelo Ogbonna','Founded 29 june 1895']
}

In [1]:
records(**records)

NameError: name 'records' is not defined